﻿@page
@{
}
<div class="col-md-12">
    
    <form action="@Url.Action("Upload","PdfFront")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">File</label>
            <input type="file" class="form-control" name="file" id="file" />
        </div>
        <button type="submit" class="btn btn-primary btn-md pull-right">Upload</button>
    </form>

</div>